#newsList ul {
    list-style: none;
    padding: 5px;
}

#newsList ul li {
    border-top: 1px black solid;
    padding: 5px;
}

.newsTag {
    display: inline-block;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #000;
    margin-left: 3px;
}

.newsTag.new {
    background-color: rgb(255, 225, 56);
    border-color: rgb(225, 199, 55);
}

.newsTag.fix {
    background-color: coral;
    border-color: #ff7f50;
}